body {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #a48da6; /* Background color */
}

.navbar {
    align-items: start;
}

.button:hover .button1{
    background-color: aqua;
}

.button:hover .button2{
    background-color: aqua;
}

.button:hover .button3{
    background-color: aqua;
}

.button:hover .button4{
    background-color: aqua;
}

.button:hover .button5{
    background-color: aqua;
    transition: background-color 0.3s;
}