body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #a5d6a7;
    
}

.container {
    position: relative;
    width: 300px;
    height: 300px;
    padding: 20px;
    background-color: white;
    border: 2px solid lightgreen;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.timer {
    font-size: 2em;
    margin-bottom: 20px;
}

.set-timer {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.set-timer input {
    width: 50px;
    padding: 10px;
    margin: 0 5px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.set-timer button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.set-timer button:hover {
    background-color: #45a049;
}

.controls button {
    margin: 5px;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.controls button:hover {
    background-color: #45a049;
}

.tree {
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    width: 10px;
    height: 20px;
    background-color: #8B4513;
    transition: height 1s ease-in-out;
}

.tree::before,
.tree::after {
    content: '';
    position: absolute;
    bottom: 100%;
    left: -10px;
    width: 30px;
    height: 30px;
    background-color: #228B22;
    border-radius: 50%;
    transition: transform 1s ease-in-out;
}
